/* Estilos Globais */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    color: #1f2937;
  }
  
  /* Header */
  header {
    background-color: #1e40af;
    color: white;
    text-align: center;
    padding: 1rem 0;
  }
  
  header h1 {
    font-size: 1.5rem;
    margin: 0;
  }
  
  header p {
    margin: 0.5rem 0;
  }
  
  #contador {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  /* Main Content */
  main {
    padding: 2rem;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #1e40af;
  }
  
  section p,
  section ul {
    font-size: 1rem;
    line-height: 1.6;
  }
  
  section ul {
    list-style-type: disc;
    padding-left: 1.5rem;
  }
  
  /* Gallery */
  .gallery {
  display: flex;
    gap: 20px;
  }
  
  .gallery-item {
    text-align: center;
    
  }
  
  .imagens {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .imagens:hover {
    transform: scale(1.05);
  }
  
  .legenda {
    font-size: 0.875rem;
    color: #6b7280;
    margin-top: 0.5rem;
  }
  
  /* Footer */
  footer {
    background-color: #111827;
    color: white;
    text-align: center;
    padding: 1rem 0;
  }
  
  footer p {
    margin: 0;
    font-size: 0.875rem;
  }

